@using EgeGlutensiz_Frontend.Models
@inject NavigationManager UriHelper

<!-- Category card component -->
<div class="max-w-[300px]">
    <a href="tarifler/@recipeCategory.permalink"
    <img src="@GetImgUrl()" alt="" class="hover:opacity-75 rounded-t-lg" />
        <div class="block max-w-sm p-4 bg-sky-100 rounded-b-lg hover:bg-yellow-300">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">@recipeCategory.title</h2>
        </div>
    </a>
</div>

@code {

    // Send the data to the category page
    [Parameter]
    public RecipeCategoryModel.Root recipeCategory { get; set; }

    string baseUrl = "http://localhost:20990";

    // Clean the image URL
    public string GetImgUrl()
    {
        var cleanUrl = recipeCategory.recipeCategoryRegion.categoryImage.media.publicUrl.Replace("~", "");
        return $"{baseUrl}{cleanUrl}";
    }

    // Skicka sluggen
    async Task GoToPage()
    {
        UriHelper.NavigateTo($"/{recipeCategory.    permalink}");
    }
}