<header>
    <nav class="bg-[#d7c0a6] text-[#513024] md:flex md:justify-between md:items-center relative md:p-4">
        <div>
            <div class="flex items-center justify-between p-3">
                <!-- Logo -->
                <div class="md:absolute md:top-4">
                    <NavLink href="/"><img src="/images/logo.png" alt="Ege Glutensiz yazan kırmızı logo" class="w-[80px] md:w-[115px]" /></NavLink>
                </div>

                <!-- Hamburger icon -->
                <button @onclick="ToggleMenu" aria-label="Open menu" class="md:hidden">
                    <svg class="h-6 w-6 fill-current" aria-hidden="true" focusable="false" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                    </svg>
                </button>
            </div>
        </div>

        @{
            var menuVisibleClass = _showMenu ? "block" : "hidden";
        }

        <!-- Links -->
        <ul class="@($"flex flex-col {menuVisibleClass} bg-[#d7c0a6] px-4 py-2 md:flex md:flex-row md:bg-transparent font-bold text-[1.4rem]")">
            <li><NavLink class="mr-4 py-2 block hover:underline" href="/ürünler" Match="NavLinkMatch.All">Ürünler</NavLink></li>
            <li><NavLink class="mr-4 py-2 block hover:underline" href="/tarifler" Match="NavLinkMatch.All">Tarifler</NavLink></li>
            <li><NavLink class="py-2 block hover:underline" href="/satis_agi" Match="NavLinkMatch.All">Satış ağı</NavLink></li>
        </ul>
    </nav>
</header>

@code
    {
    private bool _showMenu = false;

    private void ToggleMenu()
    {
        _showMenu = !_showMenu;
    }
}