@using EgeGlutensiz_Frontend.Models;

<div class="test">
    <article class="w-[240px] text-center mx-auto md:mx-0 mb-10">
        <a href="ürünler/@product.permalink" class="hover:opacity-75">
            <picture>
                <source type="image/webp" srcset="@GetImgUrl()">
                <img src="@GetImgUrl()" alt="@product.productRegion.productImage.media.altText" loading="lazy" class="h-[280px] mx-auto pb-4">
            </picture>
        </a>
        <h2 class="text-lg font-bold">@product.title</h2>
    </article>
</div>

@code {
    [Parameter]
    public ProductPageModel.Root product { get; set; }

    string baseUrl = "http://localhost:20990";

    // Clean the image URL
    public string GetImgUrl()
    {
        var cleanUrl = product.productRegion.productImage.media.publicUrl.Replace("~", "");
        return $"{baseUrl}{cleanUrl}";
    }
}