<div class="max-w-[300px]">
    <a href="/tatlı_tarifleri">
        <picture>
            <source type="image/webp" srcset="images/bread.webp">
            <img src="images/test2.png" alt="" class="hover:opacity-75 rounded-t-lg" />
        </picture>
        <div class="block max-w-sm p-4 bg-sky-100 rounded-b-lg hover:bg-yellow-300">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">Tatlı tarifleri</h2>
        </div>
    </a>
</div>