@using EgeGlutensiz_Frontend.Models
@inject NavigationManager UriHelper

<!-- Recipe card component -->
<div class="max-w-[300px]">
    <picture>
        <source type="image/webp" srcset="@GetImgUrl()">
        <img src="@GetImgUrl()" alt="@recipe.recipeRegion.recipeImage.media.altText" loading="lazy" class="rounded-t-lg">
    </picture>
    <div class="block max-w-sm p-4 bg-[#d7c0a6] rounded-b-lg">
        @if (recipe != null)
        {<h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">@recipe?.title</h2>
    }
        <p class="mb-2 flex items-center"><span class="material-symbols-outlined mr-1">schedule</span><span class="font-semibold">Toplam Süre:</span><span class="pl-1">@recipe?.recipeRegion?.totalDuration?.value dk</span></p>
        <p class="mb-1 flex items-center"><span class="material-symbols-outlined mr-1">restaurant</span><span class="font-semibold">Porsiyon:</span><span class="pl-1">@recipe?.recipeRegion?.portions?.value</span></p>

        <a href="@GetUrl()" class="inline-flex items-center mt-4 px-3 py-2 text-sm font-medium text-center text-white bg-[#774936] hover:bg-[#A3644D] rounded-t-lg rounded-bl-lg">
            Tarife gidin
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>

@code {

    // Send the data to the recipes in category page
    [Parameter]
    public RecipeModel.Root recipe { get; set; }

    // Use the NavigationManager to create the dynamic URL
    public string GetUrl()
    {
        return recipe != null ?  $"{UriHelper.Uri}/{recipe.slug}" : "";
    }

    string baseUrl = "http://localhost:20990/";

    // Get the recipe in category image
    public string GetImgUrl()
    {
        var cleanUrl = recipe.recipeRegion.recipeImage.media.publicUrl.Replace("~", "");
        return $"{baseUrl}{cleanUrl}";
    }
}