@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    overflow-x: hidden;
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    font-family: 'Nunito Sans', sans-serif;
}

.recipe-ingredients > ul > li {
    margin-bottom: .5rem;
    border-radius: .5rem;
    padding: .75rem 0 0 0;
}

.recipe-method > ol > li {
    padding: 1.5rem 0rem;
    border-bottom: 1px solid;
}

    .recipe-method > ol > li:last-child {
        border: none;
    }

.hero-small {
    background-image: url("/images/hero_small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-big {
    background-image: url("/images/heroimg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}