@page "/hakkımızda"

<PageTitle>Ege Glutensiz | Hikayemiz</PageTitle>

<nav class="flex w-52 ml-4 mt-8 md:md:ml-8 md:mt-20" aria-label="breadcrumb">
    <ul class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-sm font-medium text-black hover:underline">
                <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                <span><NavLink href="/" Match="NavLinkMatch.All">Ev</NavLink></span>
            </a>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg aria-hidden="true" class="w-6 h-6 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-bold text-black md:ml-2">Hakkımızda</span>
            </div>
        </li>
    </ul>
</nav>

<section>
    <h1 class="text-4xl lg:text-5xl font-extrabold text-center mt-3">Hakkımızda</h1>
    <div class="mt-10 mb-48 lg:mb-20 xl:flex justify-center items-center gap-6 w-10/12 mx-auto mt-10 mb-48 max-w-3xl xl:max-w-[1200px] 2xl:max-w-[1500px]">
        <div class="xl:w-1/2">
            <h2 class="text-xl font-bold mb-1.5">Hikayemiz</h2>
            <p class="leading-7 mb-3">
                Gıda sektöründe 1980 yılından beri faaliyet gösteren Sistem Grup, 2011 yılında Ege Glutensiz Ltd. şirketini kurmuştur.

                2011 senesinde faaliyete geçen Ege Glutensiz, aynı yıl içerisinde Çiğli/İzmir tesislerinin inşaatını başlatmıştır. 2012 yılında tamamlanan tesis, Türkiye'de ilk olarak M.A.P. teknolojisi ile paketlenen, uzun raf ömürlü EGE Glutensiz Ekmegi üretmiştir.
            </p>
            <p class="leading-7 mb-5">
                2013 yılına gelindiğinde çok amaçlı un ve diğer ürünlerimiz Türkiye genelinde marketlerde yer almaya başlamıştır. 2014 yılında ilk ihracatını gerçekleştiren Ege Glutensiz, ürünlerini toplam 1200 market ve mağazada satılır hale getirmiş olup, 2016 yılında toplam ihracat yapılan ülke sayısını 6 ülkeye çıkartmıştır.

                Yeni ürünler için Ar-Ge çalışmalarını aralıksız sürdürmeye devam ettirmektedir.
            </p>

            <h2 class="text-xl font-bold mb-1.5">Kalite Anlayışımız</h2>
            <p class="leading-7 mb-3">
                Beklentilerin aşılması olarak algıladıgımız, Kalite, evrensel değerlere saygılı, çevreyi ve dogayı yarınlara taşıyacak şekilde koruyarak, iş sağlığı ve güvenliğinden taviz vermeden;  çalışanlarımız, tedarikçilerimiz ve müşterilerimizle olan ilişkilerimizde dürüstlük, güven, saygı ve şeffaflık ilkeleri doğrultusunda ulusal ve uluslararası gıda güvenliği standartlarına uygun, yasalar ve mevzuatlar çerçevesinde sağlıklı, hijyenik ve lezzetli glutensiz ürünler üreterek kurumsal yapımızı geleceğe gururla taşımaktır.
            </p>
            <p class="leading-7 mb-5">
                Firmamızda Hammadde Tedariği, Depolama, Üretim ve Lojistik aşamalarında sürekli kontrol sağlanmaktadır.
            </p>
        </div>
        <div class="xl:w-1/2">
            <picture>
                <source type="image/webp" srcset="images/galata_tower.webp">
                <img src="images/galata_tower.jpg" alt="İstanbul'daki Galata Kulesi'nin mavi gökyüzü ile görünümü" loading="lazy" class="rounded-lg" />
            </picture>
        </div>
    </div>
</section>
