@using EgeGlutensiz_Frontend.Models
@page "/"
@inject HttpClient Http

<PageTitle>Ege Glutensiz | Ev</PageTitle>

<div class="hero-small md:hidden">
    <div class="pt-60">
        <div class="flex items-center">
            <a href="/ürünler" class="inline-flex items-center mt-4 px-14 py-4 mx-auto text-xl font-medium text-center text-white bg-[#774936] hover:bg-[#A3644D] rounded-t-lg rounded-bl-lg">
                Keşfet
            </a>
        </div>
    </div>
</div>

<div class="hero-big hidden md:block">
        <div class="pt-60 pl-20">
            <h1 class="text-7xl font-bold text-[#cf152c]">Lezzeti Glutensiz Yaşa!</h1>
            <a href="/ürünler" class="inline-flex items-center mt-4 px-14 py-2 text-xl font-medium text-center text-white bg-[#774936] hover:bg-[#A3644D] rounded-t-lg rounded-bl-lg">
                Keşfet
            </a>
        </div>
</div>